<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm1Fu1Vi8FboI14ikg_3dZP8WCnCCPy-8</string>
	<key>GCM_SENDER_ID</key>
	<string>469220686410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.landon.nutritiontracker</string>
	<key>PROJECT_ID</key>
	<string>csc131nutritiontracker</string>
	<key>STORAGE_BUCKET</key>
	<string>csc131nutritiontracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469220686410:ios:de0934540010b2e74784b3</string>
</dict>
</plist>